streamlit==1.32.0
pandas==2.2.1
numpy==1.26.4
scikit-learn==1.4.1.post1
xgboost==2.0.3
psycopg2-binary==2.9.9
SQLAlchemy==2.0.28
PyJWT==2.8.0
bcrypt==4.1.2
PyYAML==6.0.1
python-dotenv==1.0.1
pytest==8.1.1
plotly==5.20.0
tensorflow==2.15.0
statsmodels==0.14.1
fpdf2==2.7.9
python-docx==1.1.0
xlsxwriter==3.2.0
kaleido==0.2.1
openpyxl==3.1.2
matplotlib==3.11.1